@model IEnumerable<FreebieBot.Models.Line>
@{
    ViewBag.Title = "Translate";
}
<a asp-action="TranslateAdd">Add translate</a>
<table class="table">
    <tr><td>Name</td><td> Default</td><td> Russian</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Id</td><td>@item.Default</td><td>@item.LineRus</td></tr>
    }
</table>