@model FreebieBot.Models.Translates.Line
@{
    ViewBag.Title = "Edit Translate";
}
<form asp-action="TranslateEdit" asp-controller="Admin" method="post" class="mt-3">
    <div class="form-group">
        <label asp-for="Name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" asp-for="Name" readonly class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Default" class="col-sm-2 col-form-label">Default</label>
        <div class="col-sm-10">
            <input type="texta" asp-for="Default" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="LineRus" class="col-sm-2 col-form-label">Translate RUS</label>
        <div class="col-sm-10">
            <input type="text" asp-for="LineRus" class="form-control" />
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-outline-info">Update</button>
            <a asp-action="Translate" class="btn btn-outline-info">Cancel</a>
        </div>
    </div>
</form>